<section id="overview">
    <div class="overview text-align-center row desktop-12 min-h-15 padding-top-2 container">
        <i class="fa fa-5x fa-globe"></i>
        <h2>A Conferência</h2>
        <p class="lead">A maior reunião de hackers do mundo.<br>Reunindo profissionais e entusiastas dos quatro
            <br>cantos do planeta, o <em>Eventex</em> é o lugar onde você precisa estar.</p>
        <p><a class="btn-basic btn-blue" data-scroll href="#register">Garanta a sua vaga!</a></p>
    </div>
</section>