<section id="sponsors">
    <div class="sponsors text-align-center row desktop-12 min-h-28 padding-bottom-2 container">

        <h2>Patrocinadores</h2>

        <h3>Gold</h3>
        <div class="sponsor-slider min-h-6">
            <img class="img-responsive" alt="logo"
                *ngFor="let patrocinadorGold of patrocinadoresGold"
                src="assets/img/{{patrocinadorGold}}">

        </div>

        <h3>Silver</h3>
        <div class="sponsor-slider min-h-6 margin-bottom-1">
            <img class="img-responsive" alt="logo"
                *ngFor="let patrocinadorSilver of patrocinadoresSilver"
                src="assets/img/{{patrocinadorSilver}}">
        </div>

        <h3>Seja um patrocinador</h3>
        <p>Interessado? Descubra as oportunidades e benefícios.</p>
        <a class="btn-basic btn-blue" href="mailto:contato@eventex.com.br?Subject=Patrocínio">informe-se</a>

    </div>
</section>