<section id="sup">
    <div class="header-frame row">
        <header class="header header-inline min-h-3 row desktop-12 container" role="banner">
            <app-banner></app-banner>
            <app-navegacao></app-navegacao>
        </header>
    </div>
</section>

<section>
    <div class="talks content row padding-bottom-3 desktop-12 container">
        <h2>Manhã</h2>
        <h3>18/10/2023 - BackEnd Ágil</h3>
        <h4>Pors
            <a href="palestrante_detalhes_lg.html">Loiane Groner</a>
        </h4>
        <p>
            Apesar das novas tecnologias chegarem o Java ainda é muito utilizado na programação.
            Seu desenvolvimento de Apis com framework Spring Boot facilita muita a vida do desenvolvedor
            e entrega projetos de forma rápida e segura...
        </p>

        <h2>Tarde</h2>
        <h3>18/10/2023 - Mobile Híbrido</h3>
        <h4>Por
            <a href="palestrante_detalhes_df.html">Diego Fernandes</a>
        </h4>
        <p>
            O desenvolvimento mobile sempre foi um grande desafio, pois atualmente o aplicativo deve suportar a necessidade
            das duas lojas de apps. Diego Fernandes vai abordar o desenvolvimento híbrido com React Native...
        </p>

        <h2>Manhã</h2>
        <h3>19/10/2023 - Arquitetura de Software</h3>
        <h4>Por
            <a href="palestrante_detalhes_rb.html">Rodrigo Branas</a>
        </h4>
        <p>
            Ter uma boa arquitetura de software é essencial para manter um sistema em pleno funcionamento atendendo as mudanças
            que ocorrem com frequência. Robrigo Branas com grande experiência na área vai mostrar técnicas para aplicar...
        </p>


        <h2>Tarde</h2>
        <h3>19/10/2023 - Testes de Software</h3>
        <h4>Por
            <a href="palestrante_detalhes_hb.html">Henrique Bastos</a>
        </h4>
        <p>
            Henrique Bastos vai apresentar o conceito de programação guiada por testes com python, com mudanças acontecendo
            diariamente testar o software é de extrema importancia...
        </p>
    </div>
</section>
