<section id="speakers">
    <div class="speakers text-align-center row desktop-12 padding-bottom-2 container">
        <h2>Palestrantes Convidados</h2>
        <div class="desktop-3">
            <img src="assets/img/lg.jfif">
            <h4>
                <a href="palestrante_detalhes_lg.html">
                    Loiane Groner
                </a>
            </h4>
        </div>

        <div class="desktop-3">
            <img src="assets/img/rb.jfif">
            <h4>
                <a href="palestrante_detalhes_rb.html">
                    Rodrigo Branas
                </a>
            </h4>
        </div>

        <div class="desktop-3">
            <img src="assets/img/hb.jfif">
            <h4>
                <a href="palestrante_detalhes_hb.html">
                    Henrique Bastos
                </a>
            </h4>
        </div>

        <div class="desktop-3">
            <img src="assets/img/df.jfif">
            <h4>
                <a href="palestrante_detalhes_df.html">
                    Diego Fernandes
                </a>
            </h4>
        </div>
    </div>
</section>